.grass {
    background-color: #4CAF50;
}

.water {
    background-color: #2196F3;
}

.fire {
    background-color: #f44336;
}

.normal {
    background-color: #9E9E9E;
}

.fighting {
    background-color: #FF9800;
}

.flying {
    background-color: #03A9F4;
}

.poison {
    background-color: #500938;
}

.ground {
    background-color: #b16814;
}

.rock {
    background-color: #795548;
}

.bug {
    background-color: #8BC34A;
}

.ghost {
    background-color: #9C27B0;
}

.steel {
    background-color: #607D8B;
}

.electric {
    background-color: #FFC107;
}

.psychic {
    background-color: #9e1073;
}

.ice {
    background-color: #00BCD4;
}

.dragon {
    background-color: #3F51B5;
}

.dark {
    background-color: #212121;
}

.fairy {
    background-color: #f39cd2;
}

